<?xml version="1.0" ?>
<ttop xmlns:ref="x-schema:refSchema.xml" xmlns:data="x-schema:idSchema.xml">
	<parsers>
	<!--
		<filter>
			<stringEq>
				<SourceMAC/>
				<string>00:11:22:33:44:55</string>
			</stringEq>
			</or>
		</filter>
		-->
		<!--
		<view type="dump" output="-">
			<select>
				<long2string><Seconds/></long2string>
				<long2string><USeconds/></long2string>
				<SourceMAC name="source"/>
				<DestinationMAC name="dest"/>
				<long2string><counter name="counter"/></long2string>
				<long2string order="numeric"><sum><Captured/></sum></long2string>
				<long2string><sum><Length/></sum></long2string>
			</select>
			<trigger>
				<longGtEq>
					<minus><nowSeconds/><long>4</long></minus>
					<min><nowSeconds/></min>
				</longGtEq>
			</trigger>
			<groupBy>
				<SourceMAC name="source"/>
			</groupBy>
		</view>
		-->
		<parser of="DIX">
			<parser of="IPv4">
				<parser of="IPv4Packet">
<!--
					<filter>
						<and>
							<IsIPv4/>
							<IPv4>
								<and>
									<IsComplete/>
									<Parent>
										<Parent>
											<Parent>
												<stringEq>
													<SourceMAC/>
													<string>00:13:c4:bc:56:80</string>
												</stringEq>
											</Parent>
										</Parent>
									</Parent>
								</and>
							</IPv4>
						</and>
					</filter>
-->
					<parser of="UDP">
					</parser>
					<parser of="TCP">
						<parser of="TCPSession">
							<view type="dump" processedByFollowers="false">
								<select>
									<string>unknown_TCP_data</string>
									<long2string>
										<Client default="0">
											<LastChunk default="0">
												<DestinationPort/>
											</LastChunk>
										</Client>
									</long2string>
									<long2string>
										<Client default="0">
											<LastChunk default="0">
												<SourcePort/>
											</LastChunk>
										</Client>
									</long2string>
									<Client default="0" order="numeric">
										<long2string><sum><RawIfaceBytes/></sum></long2string>
									</Client>
									<Server default="0">
										<long2string><sum><RawIfaceBytes/></sum></long2string>
									</Server>
								</select>
								<groupBy>
									<long2string>
										<Client default="0">
											<LastChunk default="0">
												<DestinationPort/>
											</LastChunk>
										</Client>
									</long2string>
								</groupBy>
								<trigger>
									<longGtEq>
										<minus><nowSeconds/><long>4</long></minus>
										<min><nowSeconds/></min>
									</longGtEq>
								</trigger>
							</view>

							<parser of="HTTP">
							<!--
								<view type="dump">
									<select>
										<Method/>
										<Host/>
										<URI/>
									</select>
									<where>
										<HasRequest/>
									</where>
								</view>
								-->
							</parser>

							<parser of="MySQL">
							<!--
								<view type="dump">
									<select>
										<Database/>
										<Username/>
										<Query/>
										<ServerVersion/>
										<long2string order="numeric" orderDesc="true"><counter/></long2string>
									</select>
									<where>
										<HasRequest/>
									</where>
									<groupBy>
										<Query/>
									</groupBy>
									<trigger>
										<false/>
									</trigger>
								</view>
								-->
							</parser>
						</parser>
					</parser>
				</parser>
			</parser>
		</parser>
	</parsers>
</ttop>
