<?xml version="1.0" ?>
<ttop xmlns:ref="x-schema:refSchema.xml" xmlns:data="x-schema:idSchema.xml">
	<parsers>
		<!--
		<view type="top" output="-">
			<select>
				<long2string name="seconds"><Seconds/></long2string>
				<long2string name="usec"><USeconds/></long2string>
				<SourceMAC name="source"/>
				<DestinationMAC name="dest"/>
				<long2string  name="counter"><counter/></long2string>
				<long2string order="numeric" name="captured"><sum><Captured/></sum></long2string>
				<long2string name="length"><sum><Length/></sum></long2string>
			</select>
			<trigger timeInterval="1">
				<false/>
			</trigger>
			<groupBy>
				<concat>
					<SourceMAC/>
					<DestinationMAC/>
				</concat>
			</groupBy>
		</view>
		-->
		<parser of="DIX">
			<parser of="IPv4">
				<parser of="IPv4Packet">
					<parser of="UDP">
					</parser>
					<parser of="TCP">
						<parser of="TCPSession">
						<!--
							<view type="top">
								<select>
									<long2string name="ID">
										<SessionID/>
									</long2string>
									<FollowerProtocol name="Follower"/>
									<long2string name="DstPort">
										<Client default="0">
											<LastChunk default="0">
												<DestinationPort/>
											</LastChunk>
										</Client>
									</long2string>
									<long2string name="SrcPort">
										<Client default="0">
											<LastChunk default="0">
												<SourcePort/>
											</LastChunk>
										</Client>
									</long2string>
									<Client default="(noclient)" name="CliData">
										<PayloadPreview default="(nolast-client-chunk)"/>
									</Client>
									<Server default="(noserver)" name="SrvData">
										<PayloadPreview default="(nolast-server-chunk)"/>
									</Server>
								</select>
								<groupBy>
									<concat>
										<long2string><SessionID/></long2string>
										<bool2string><Client default='false'><HasPayload/></Client></bool2string>
										<bool2string><Server default='false'><HasPayload/></Server></bool2string>
									</concat>
								</groupBy>
								<trigger timeInterval="1">
									<false/>
								</trigger>
							</view>
							-->
							<parser of="SSL"/>

							<parser of="HTTP">
								<view type="dump">
									<select>
										<Method/>
										<Host/>
										<URI/>
										<long2string><Code/></long2string>
										<Message/>
										<long2string><counter/></long2string>
										<concat>
											<Method/>
											<Host/>
											<URI/>
											<long2string><Code/></long2string>
											<Message/>
										</concat>
									</select>
									<where>
										<HasRequest/>
									</where>
									<groupBy>
										<concat>
											<Method/>
											<Host/>
											<URI/>
											<long2string><Code/></long2string>
											<Message/>
										</concat>
									</groupBy>
									<trigger timeInterval="1">
										<false/>
									</trigger>
								</view>
							</parser>

							<parser of="MySQL">
							<!--
								<view type="dump">
									<select>
										<Database/>
										<Username/>
										<Query/>
										<ServerVersion/>
										<long2string order="numeric" orderDesc="true"><counter/></long2string>
									</select>
									<where>
										<HasRequest/>
									</where>
									<groupBy>
										<Query/>
									</groupBy>
									<trigger>
										<false/>
									</trigger>
								</view>
								-->
							</parser>
						</parser>
					</parser>
				</parser>
			</parser>
		</parser>
	</parsers>
</ttop>
